<script src="/javascript/mailto.js"></script>
<header id="nav-header">
    <ul>
        <li>
            <a data-scroll href="#index">
                <i class="fa fa-arrow-circle-o-up"></i>
                Back
            </a>
        </li>
        <li>
            <a data-scroll href="#ruby" class="ruby">
                <i class="icon-ruby"></i>
                <span class="tech-name">Ruby</span>
            </a>
        </li>
        <li>
            <a data-scroll href="#js" class="js">
                <i class="icon-javascript"></i>
                <span class="tech-name">JavaScript</span>
            </a>
        </li>
        <li>
            <a data-scroll href="#css" class="css">
                <i class="fa fa-css3"></i>
                <span class="tech-name">CSS</span>
            </a>
        </li>
        <li>
            <a data-scroll href="#python" class="python">
                <i class="icon-python"></i>
                <span class="tech-name">Python</span>
            </a>
        </li>
        <li>
            <a data-scroll href="#db" class="db">
                <i class="icon-database-alt2"></i>
                <span class="tech-name">Databases</span>
            </a>
        </li>
        <li>
            <a data-scroll href="#vcs" class="vcs">
                <i class="fa fa-git"></i>
                <span class="tech-name">VCS</span>
            </a>
        </li>
        <li>
            <a data-scroll href="#api" class="api">
                <i class="fa fa-gears"></i>
                <span class="tech-name">APIs</span>
            </a>
        </li>
        <li>
            <a data-scroll href="#methodologies" class="methodologies">
                <i class="fa fa-bar-chart"></i>
                <span class="tech-name">Methodologies</span>
            </a>
        </li>
        <li>
            <a data-scroll href="#devops" class="devops">
                <i class="fa fa-magic"></i>
                <span class="tech-name">DevOps</span>
            </a>
        </li>
    </ul>
</header>
