<div id="api" class="tech">
    <h1>API</h1>
    <hr/>

    <ul>
        <li>
            API Providers
            <ul>
                <li>X.commerce eBay API</li>
                <li>PayPal API</li>
                <li>Salesforce API</li>
                <li>Amazon AWS</li>
                <li>Stripe</li>
                <li>Facebook / Twitter / Google Plus</li>
            </ul>
        </li>

        <li>
            Technologies
            <ul>
                <li>OAuth v1/2</li>
                <li>OpenID</li>
                <li>JSON</li>
                <li>HTTP</li>
                <li>SOAP</li>
                <li>XML</li>
            </ul>
        </li>

        <li>
            Documentation
            <ul>
                <li>Apiary</li>
                <li>Swagger</li>
                <li>RAML</li>
            </ul>
        </li>
    </ul>
</div>
