<div id="css" class="tech">
    <h1>CSS</h1>
    <hr/>

    <ul>
        <li>
            Features
            <ul>
                <li>CSS3 Animations</li>
                <li>Mixins</li>
                <li>Responsive / Liquid design</li>
            </ul>
        </li>

        <li>
            Frameworks
            <ul>
                <li>Twitter Bootstrap</li>
                <li>Pure</li>
                <li>ZURB Foundation</li>
                <li>COMPASS</li>
            </ul>
        </li>

        <li>
            Support
            <ul>
                <li>SASS</li>
                <li>SCSS</li>
                <li>LESS</li>
            </ul>
        </li>
    </ul>
</div>