<div id="devops" class="tech">
    <h1>DevOps</h1>
    <hr/>

    <ul>
        <li>
            Server Operating Systems
            <ul>
                <li>Debian</li>
                <li>Ubuntu Server</li>
                <li>Redhat</li>
                <li>CentOS</li>
                <li>Arch Linux</li>
            </ul>
        </li>

        <li>
            HTTP Servers
            <ul>
                <li>Nginx</li>
                <li>Unicorn</li>
                <li>Thin</li>
                <li>WEBRick</li>
                <li>Phusion Passenger</li>
            </ul>
        </li>

        <li>
            Daemons Management
            <ul>
                <li>systemd</li>
                <li>sysv</li>
                <li>upstart</li>
            </ul>
        </li>

        <li>
            Configuration Management Tools
            <ul>
                <li>Chef</li>
            </ul>
        </li>

        <li>
            Deployment
            <ul>
                <li>Capistrano</li>
                <li>Git with SFTP</li>
            </ul>
        </li>

        <li>
            PaaS
            <ul>
                <li>Heroku</li>
                <li>Amazon S3</li>
                <li>CloudFront CDN</li>
                <li>Rackspace</li>
                <li>OpenShift</li>
                <li>DigitalOcean</li>
                <li>Google App Engine</li>
            </ul>
        </li>

        <li>
            Continuous Integration
            <ul>
                <li>Jenkins</li>
                <li>Travis</li>
            </ul>
        </li>

        <li>
            Scripting
            <ul>
                <li>Bash / sh / zsh</li>
                <li>Python</li>
                <li>Ruby</li>
            </ul>
        </li>
    </ul>
</div>