<div id="js" class="tech">
    <h1>JavaScript</h1>
    <hr/>
    <ul>
        <li>
            Frameworks
            <ul>
                <li>
                    NodeJS
                    <ul>
                        <li>Express</li>
                        <li>Sails.js</li>
                    </ul>
                </li>

                <li>Ember</li>
                <li>AngularJS</li>
            </ul>
        </li>

        <li>
            Browser Plugin / Extension development
            <ul>
                <li>Chrome</li>
                <li>Firefox</li>
                <li>Safari</li>
            </ul>
        </li>

        <li>
            Libraries (important only)
            <ul>
                <li>jQuery</li>
                <li>Async.js</li>
                <li>Underscore.js</li>
                <li>Modernizr</li>
                <li>Highcharts</li>
                <li>Google Maps</li>
            </ul>
        </li>

        <li>
            Testing
            <ul>
                <li>Mocha</li>
                <li>Jasmin</li>
            </ul>
        </li>

        <li>
            Support
            <ul>
                <li>JSLint</li>
                <li>CoffeeScript</li>
            </ul>
        </li>
    </ul>
</div>