<div id="methodologies" class="tech">
    <h1>Methodologies</h1>
    <hr/>

    <ul>
        <li>
            Agile
            <ul>
                <li>Scrum</li>
                <li>Kanban</li>
                <li>Scrum-ban</li>
            </ul>
        </li>

        <li>
            Project Management Tools
            <ul>
                <li>Slack</li>
                <li>Basecamp</li>
                <li>Redmine</li>
                <li>Trello</li>
                <li>Pivotal Tracker</li>
                <li>Asana</li>
                <li>Jira</li>
            </ul>
        </li>
    </ul>
</div>