<div id="python" class="tech">
    <h1>Python</h1>
    <hr/>

    <ul>
        <li>
            Frameworks
            <ul>
                <li>
                    Web
                    <ul>
                        <li>Django</li>
                        <li>web2py</li>
                        <li>Flask</li>
                    </ul>
                </li>

                <li>
                    Desktop
                    <ul>
                        <li>PySide</li>
                        <li>PyQT</li>
                        <li>PyGTK</li>
                        <li>TkInter</li>
                        <li>WxPython</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            Libraries
            <ul>
                <li>Mechanize</li>
                <li>lxml</li>
                <li>Beautiful Soup</li>
                <li>Psyco</li>
            </ul>
        </li>

        <li>
            Testing
            <ul>
                <li>unittest</li>
            </ul>
        </li>

        <li>
            Template Engines
            <ul>
                <li>Django template engine</li>
                <li>Jinja</li>
            </ul>
        </li>

        <li>
            Support
            <ul>
                <li>PIP</li>
                <li>py2exe</li>
                <li>cx_Freeze</li>
            </ul>
        </li>
    </ul>
</div>