<div id="vcs" class="tech">
    <h1>Version Control System</h1>
    <hr/>

    <ul>
        <li>
            Git
            <ul>
                <li>
                    Workflows
                    <ul>
                        <li>Centralized workflow</li>
                        <li>Feature branch workflow</li>
                        <li>Gitflow workflow</li>
                        <li>Forking workflow</li>
                    </ul>
                </li>

                <li>Advanced branching</li>
                <li>Ability to produce clean, structured commits</li>
                <li>Rebasing, bisect, blame</li>
            </ul>
        </li>

        <li>Mercurial</li>
        <li>Bazaar</li>

        <li>
            Repository Providers
            <ul>
                <li>GitHub</li>
                <li>BitBucket</li>
                <li>Launchpad</li>
            </ul>
        </li>
     </ul>
</div>
