<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script src="/javascript/lib/jquery-1.11.1.min.js"></script>
    <script src="/javascript/lib/waypoints.min.js"></script>
    <script src="/javascript/lib/smooth_scroll.js"></script>
    <script src="/javascript/main.js"></script>
    <script src="/javascript/scroll_past.js"></script>
  </body>

</html>
